<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ config["SITE_NAME"] }}</title>
  <script src="/static/app.js"></script>
</head>
<body>
  <nav class="blue" role="navigation">
    <div class="nav-wrapper container">
      <i class="material-icons left">image</i><a href="/" class="brand-logo">{{ config["SITE_NAME"] }}</a>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer class="page-footer blue">
    <div class="footer-copyright">
      <div class="container">
      <span class="right"><i class="material-icons tiny">call_split</i> on <a class="white-text" href="https://github.com/kaiyou/tedimg">Github</a>.</a>
      </div>
    </div>
  </footer>
  </body>
</html>
