{% extends "banner.html" %}

{% block banner_content %}
<h1 class="header center orange-text">Upload your image!</h1>
<form id="upload" action="#">
  <div class="file-field input-field">
    <div class="btn light-blue">
      <span>File</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload your image">
    </div>
  </div>

  <div class="input-field">
      <i class="material-icons prefix">public</i>
      <input id="icon_prefix" type="text" class="validate" placeholder="Or paste your url">
  </div>
</form>
{% endblock %}
